.Next:hover{
    opacity: 0.4;
}

.Last:hover{
    opacity: 0.4;
}


@media only screen and (max-width: 920px) {
  .Next{
      font-size: 0%;
  }
  .Last{
    font-size: 0%;
  }
}

@media screen and (max-width: 40em) {
  .Next{
    transform: scale(0.7);
  }
  .Last{
    transform: scale(0.7);
  }
}